body {
	background-image: linear-gradient(#72c2d1, beige);
}

h1 {
	font-size:50px;
	position:relative;
	font-family:fantasy;
	color:white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-align:center;
}

nav {
	text-align:center;
	font-size:20px;
	word-spacing:1%; 
	justify-content: center;
	list-style: none;
	flex-direction: row;
	display: flex;
}

h2 {
	text-align:center;
	color:brown;
	font-size:40px;
}

h3 {
	text-align:center;
	color:brown;
	font-size:25px;
}

p {
	padding-left:6vw;
	padding-right:6vw;
	padding-bottom: 3vw;
}

h4 {
	text-align:center;
	color:black;
	font-size:15px;
}

#movimientos {
	margin-bottom: -20px;

}

#esTurno {

}

canvas {
	background-color:darkolivegreen;
}

input {
	text-align:center;
	padding: auto;
}

#flexbox {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

#resetButton {
	position:relative;
}

#loadButton {
	position:relative;
}

#saveButton {
	position:relative;
}

#divBotones {
	text-align:center;
}

#moveBlancas {
	color:brown;
	font-size:25px;
	font-weight: bold;
}

#puntuacionBlancas {
	color:brown;
	margin-bottom: 30px;
	font-size:40px;
}

#moveNegras {
	margin-left:30px;
	color:brown;
	font-size:25px;
	font-weight: bold;
}

#puntuacionNegras {
	margin-left:30px;
	color:brown;
	font-size:40px;
}

form {
	text-align:center;
	padding-bottom: 75px;
}

#nombreBlanca {
	margin-right:65px;
	width:170px;
	margin-bottom: 5px;
}

form {
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	padding-left: 35%;
}

.contacto{
	margin-bottom: 20px;
}

.barranav {
	margin-right: 3%;
}